#usersTable .table, th, td {
    margin: 0;
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
#usersTable table{
    width: 100%;
    margin: 0;
}
#usersTable {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
#usersTable tbody tr th{
    font-weight: 200;
    font-size: 15px;
}
th:nth-child(even),td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}
